apng==0.3.4
blinker==1.9.0
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
distro==1.9.0
dnspython==2.7.0
easyocr==1.7.2
ExifRead==3.0.0
filelock==3.18.0
Flask==2.2.5
fonttools==4.56.0
fsspec==2025.3.0
gunicorn==23.0.0
imageio==2.37.0
intervaltree==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.8
lazy_loader==0.4
Levenshtein==0.27.1
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
ninja==1.11.1.3
numpy==2.2.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pillow==11.1.0
prettytable==3.12.0
pyclipper==1.3.0.post6
PyExifTool==0.5.6
pymongo==4.11.3
pyparsing==3.2.1
pyperclip==1.9.0
pypng==0.20220715.0
pytesseract==0.3.13
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.1
python-magic==0.4.27
python-magic-bin==0.4.14
python-xmp-toolkit==2.0.2
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.12.2
scikit-image==0.25.2
scipy==1.15.2
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
sortedcontainers==2.4.0
stegoveritas @ file:///C:/Users/wasapon/stegoVeritas
stegoveritas-binwalk==2.1.2
stegoveritas-pfp==0.2.3
stegoveritas-py010parser==0.1.10
sympy==1.13.1
tifffile==2025.3.13
torch==2.6.0
torchvision==0.21.0
typing_extensions==4.12.2
wcwidth==0.2.13
Werkzeug==2.2.3
